@import "src/scss/_colors";

header {
    background: $primary;
    color: $white;
    position: relative;
    min-height: 32px;
    text-align: center;

    .left {
        position: absolute;
        top: 8px;
        left: 8px;

        .back-arrow {
            display: inline-block;
            height: 16px;
            width: 16px;
        }
    }

    .right {
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .heading {
        font-weight: 500;
    }
}