<div class="auth-container">
    <div class="background">
        <div class="third circle"></div>
        <div class="second circle"></div>
        <div class="first circle"></div>

        <div class="welcome">Cześć, witaj ponownie!</div>
    </div>
    <div class="foreground">
        <h1>Logowanie</h1>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input
                    type="email"
                    matInput
                    placeholder="Email"
                    formControlName="email"
                />
                <mat-error *ngIf="email.invalid && email.errors.required">
                    Wprowadź email
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input
                    type="password"
                    matInput
                    placeholder="Hasło"
                    formControlName="password"
                />
                <mat-error *ngIf="password.invalid && password.errors.required">
                    Wprowadź hasło
                </mat-error>
            </mat-form-field>

            <mat-error>
                <span *ngIf="formGroup.errors && formGroup.errors.invalidEmailOrPassword">
                    Niepoprawny email lub hasło
                </span>
            </mat-error>


            <button type="submit" class="submit-button" mat-raised-button color="primary">
                Zaloguj
            </button>

            <div class="other-action">
                <span>
                    Nie masz jeszcze konta?
                </span>
                <a [routerLink]="['/auth', 'register']">
                    Zarejestruj się
                </a>
            </div>
        </form>
    </div>
</div>