@import "src/scss/_colors";
@import "src/scss/_mixins";

:host  {
	@include is-animated-host;
}

.settlement-done {
	text-align: center;
	margin: 24px 32px;
	font-weight: 600;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.balance {
	padding: 0;

	.participant-balance {
		border-bottom: 1px solid mat-color($black-palette, 50);
		padding: 8px 8px;
		display: flex;
		line-height: 24px;

		&.negative {
			flex-direction: row-reverse;

			.value {
				text-align: right;
			}
		}

		&:not(.negative) {
			.nick {
				text-align: right;
			}
		}

		.nick, .value {
			flex-basis: 50%;
			padding: 0 8px;
		}

		.value {
			position: relative;

			.text {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;
				width: 100%;
				padding: 0 8px;
			}

			.bar {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				height: 100%;
				border-radius: 4px;

				background-color: $primary;
				opacity: 0.3;
			} 
		}

		&.negative .value .bar {
			background-color: $warn;
			right: 0;
			left: auto;
		}
	}
}

.settlements {
	margin-bottom: 32px;
	padding: 24px 16px;

	.settlement {
		border: 1px solid mat-color($black-palette, 50);
		border-radius: 4px;
		margin-bottom: 16px;

		&:last-of-type {
			margin-bottom: 0;
		}

		.details-wrapper {
			padding: 8px 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.who {
				.desc {
					font-size: 12px;
					line-height: 24px;
				}
			}
		}

		.more {
			background: mat-color($black-palette, 50);
			text-align: right;
		}
	}
}