
<div class="container page-with-tabs">
    <div class="settlement-done" *ngIf="balance && balance.settlesBalance.length === 0">
        Wszystko zostało rozliczone 😊🎉
    </div>

    <section class="balance">
        <div class="fetching-results balance-placeholders" *ngIf="!balance">
            <div class="item-placeholder">
                <div class="secondary first" style="width: 41%;"></div>
                <div class="positive second" style="width: 100%;"></div>
            </div>
            <div class="item-placeholder">
                <div class="negative second" style="width: 25%;"></div>
                <div class="secondary first" style="width: 33%;"></div>
            </div>
            <div class="item-placeholder">
                <div class="negative second" style="width: 75%;"></div>
                <div class="secondary first" style="width: 25%;"></div>
            </div>
        </div>

        <ng-container *ngIf="balance">
            <div
                
                *ngFor="let participantBalance of balance.participantsBalance"
                class="participant-balance"
                [class.negative]="participantBalance.value < 0"
                [class.my-balance]="participantBalance.isMyBalance"
            >
                <div class="nick">
                    {{ participantBalance.participantNick }}
                    <span *ngIf="participantBalance.isMyBalance">
                        (Ja)
                    </span>
                </div>
                <div class="value">
                    <div class="text">
                        {{ participantBalance.value | currency: "PLN" }}
                    </div>
                    <div
                        class="bar"
                        [style.width.%]="
                            calculateBarLength(participantBalance.value)
                        "
                    ></div>
                </div>
            </div>
        </ng-container>
    </section>

    <ng-container *ngIf="balance && balance.settlesBalance.length > 0">
        <caption>
            Jak rozliczyć wydatki?
        </caption>
        <section class="settlements">
            <div
                *ngFor="let settlement of balance.settlesBalance"
                class="settlement"
            >
                <div class="details-wrapper">
                    <div class="who">
                        <div class="from">
                            {{ settlement.fromParticipantNick }}
                            <span *ngIf="settlement.amIFromParticipant">
                                (Ja)
                            </span>
                        </div>
                        <div class="desc">
                            powinien zwrócić dla
                        </div>
                        <div class="to">
                            {{ settlement.toParticipantNick }}
                            <span *ngIf="settlement.amIToParticipant">
                                (Ja)
                            </span>
                        </div>
                    </div>
                    <div class="value">
                        <strong>
                            {{ settlement.value | currency: "PLN" }}
                        </strong>
                    </div>
                </div>
                <div class="more">
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        aria-label="Settlement actions"
                        color="primary"
                    >
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="markAsPaid(settlement)">
                            <mat-icon>check</mat-icon>
                            <span>Oznacz jako zapłacone</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </section>
    </ng-container>
</div>
