<es-header>
    <ng-container heading>
        <div class="header" *ngIf="trip">{{ trip.name }}</div>
        <div class="sub">{{ participants }}</div>
    </ng-container>

    <ng-container left>
        <a [routerLink]="['/trips']">
            <mat-icon>arrow_back_ios</mat-icon>
        </a>
    </ng-container>

    <ng-container right>
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Application menu"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/trips', trip.uid, 'edit']">
                <mat-icon>edit</mat-icon>
                <span>Edytuj</span>
            </button>
            <button mat-menu-item>
                <mat-icon>share</mat-icon>
                <span>Udostępnij rozliczenie</span>
            </button>
        </mat-menu>
    </ng-container>
</es-header>

<mat-tab-group (selectedTabChange)="tabClicked($event)" [selectedIndex]="selectedIndex" #matTabGroup>
    <mat-tab [label]="{link: './expenses'}">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">attach_money</mat-icon>
            Wydatki
        </ng-template>
    </mat-tab>
    <mat-tab [label]="{link: './balance'}">
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">swap_horiz</mat-icon>
            Bilans
        </ng-template>
    </mat-tab>
</mat-tab-group>

<div [@routeAnimations]="getState(outlet)" class="router-wrapper" style="height: calc(100% - 81px);">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
