<es-header>
    <ng-container heading>
        <div class="header" *ngIf="trip">{{ trip.name }}</div>
        <div class="sub">{{ participants }} <span *ngIf="otherParticipantsCount">i {{ otherParticipantsCount }} innych uczestników</span></div>
    </ng-container>

    <ng-container left>
        <button mat-icon-button [routerLink]="['/trips']">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
    </ng-container>

    <ng-container right>
        <ng-container *ngIf="isExpenseListView">
            <button
                mat-icon-button
                [matMenuTriggerFor]="menu"
                aria-label="Application menu"
            >
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngIf="trip" [routerLink]="['/trips', trip.uid, 'edit']">
                    <mat-icon>edit</mat-icon>
                    <span>Edytuj</span>
                </button>
                <button mat-menu-item *ngIf="trip" [routerLink]="['/trips', trip.uid, 'who-am-i']">
                    <mat-icon>emoji_people</mat-icon>
                    <span>Wybierz kim jesteś</span>
                </button>
                <button mat-menu-item *ngIf="trip" (click)="toggleDetailedCalculations()">
                    <mat-icon>star_border</mat-icon>
                    <span>
                        Pokaż obliczenia
                    </span>
                    <mat-icon class="toggle" *ngIf="detailedCalculations" color="primary">toggle_on</mat-icon>
                    <mat-icon class="toggle" *ngIf="!detailedCalculations">toggle_off</mat-icon>
                </button>
                <button mat-menu-item *ngIf="trip" (click)="toggleOnlyMyExpenses()">
                    <mat-icon>star_border</mat-icon>
                    <span>
                        Pokaż tylko moje
                    </span>
                    <mat-icon class="toggle" *ngIf="onlyMyExpenses" color="primary">toggle_on</mat-icon>
                    <mat-icon class="toggle" *ngIf="!onlyMyExpenses">toggle_off</mat-icon>
                </button>
            </mat-menu>
        </ng-container>

        <ng-container *ngIf="!isExpenseListView">
            <a
                role="button"
                type="button"
                *ngIf="trip"
                esShare
                [esShareTitle]="trip.name"
                esShareText="Hej! Właśnie założyłem rozliczenie {{ trip.name }}."
                [esShareUrl]="shareUrl"
            >
                Udostępnij
            </a>
        </ng-container>
    </ng-container>
</es-header>

<mat-tab-group (selectedTabChange)="tabClicked($event)" [selectedIndex]="selectedIndex" #matTabGroup>
    <mat-tab [label]="{link: '/trips/' + this.uid + '/summary/expenses'}">
        <ng-template mat-tab-label>
            <div class="tab-wrapper">
                <div class="icon">
                    <mat-icon class="example-tab-icon">attach_money</mat-icon>
                </div>
                <div class="text">
                    <span *ngIf="onlyMyExpenses">
                        Moje wydatki
                    </span>
                    <span *ngIf="!onlyMyExpenses">
                        Wydatki
                    </span>
                </div>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab [label]="{link: '/trips/' + this.uid + '/summary/balance'}">
        <ng-template mat-tab-label>
            <div class="tab-wrapper">
                <div class="icon">
                    <mat-icon class="example-tab-icon">swap_horiz</mat-icon>
                </div>
                <div class="text">
                    Bilans
                </div>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>

<div [@routeAnimations]="getState(outlet)" class="router-wrapper">
    <router-outlet #outlet="outlet"></router-outlet>
</div>
