<es-header>
    <ng-container right>
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Application menu"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/auth', 'settings']">
                <mat-icon>person</mat-icon>
                <span>Moje ustawienia</span>
            </button>
            <button mat-menu-item esShare esShareTitle="DZIEL.SE" esShareText="Hej! Wypróbuj DZIEL.SE - apkę do rozliczania grupowych wydatków (np. do wyjazdów, wydatków domowych)." [esShareUrl]="shareUrl">
                <mat-icon>share</mat-icon>
                <span>Udostępnij aplikacje</span>
            </button>
        </mat-menu>
    </ng-container>
</es-header>

<div class="container">
    <section class="trips">
        <div class="fetching-results list" *ngIf="!trips">
            <div class="item-placeholder">
                <div class="primary name" style="width: 130px;"></div>
                <div class="secondary description" style="width: 200px;"></div>
            </div>
            <div class="item-placeholder">
                <div class="primary name" style="width: 120px;"></div>
                <div class="secondary description" style="width: 150px;"></div>
            </div>
        </div>

        <a
            class="trip"
            *ngFor="let trip of trips"
            [class.last-edited]="lastUpdatedTripUid && lastUpdatedTripUid === trip.uid"
            [routerLink]="['/trips', trip.uid, 'summary']"
        >
            <div class="details">
                <div class="name">
                    {{ trip.name }}
                </div>
                <div class="description">
                    <ng-container *ngIf="trip.description; else noDescription">
                        {{ trip.description }}
                    </ng-container>
                    <ng-template #noDescription>
                        Brak opisu
                    </ng-template>
                </div>
            </div>
            <div class="actions">
                <mat-icon>arrow_forward_ios</mat-icon>
            </div>
        </a>
    </section>
    <div class="no-results" *ngIf="trips && trips.length === 0">
        <div class="call-to-action-text">
            Na razie nie masz dodanych żadnych rozliczeń. Kliknij na <b>+</b> aby je stworzyć nowe lub dołączyć do istniejącego
        </div>
    </div>
</div>

<div class="add-new">
    <a mat-fab color="primary" (click)="addNewTrip()">
        <mat-icon>add</mat-icon>
    </a>
</div>
