@import "scss/_colors";
@import "scss/_variables";

@include mat-core();
$my-app-theme: mat-light-theme(
    $primary-palette,
    $accent-palette,
    $warn-palette
);
@include angular-material-theme($my-app-theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    background: $background;
}
* {
    box-sizing: border-box;
}


.vertical-form {
    mat-form-field {
        width: 100%;
    }
}
.router-wrapper  {
	position:  relative;
	overflow:  hidden;
	width:  100vw;
	height:  calc(100%);
	perspective:  1200px;
	transform-style:  preserve-3d;
}

caption {
    display: block;
    text-align: left;
    font-weight: 500;
    color: mat-color($black-palette, 400);
    text-transform: uppercase;
    font-size: 13px;
    margin: 24px 8px 8px;
}
section {
    background: $white;
    padding: 16px 8px;
    position: relative;
}
.container {
    overflow-y: scroll;
    height: calc(100vh - #{$headerHeight});
    position: relative;

    &.page-with-tabs {
        height: calc(100vh - #{$headerHeight} - #{$tabsHeight});
    }

    .no-results {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: grid;
        place-items: center center;

        .call-to-action-text {
            width: 70%;
        }
    }
    .fetching-results {
        .item-placeholder {
            padding: 8px 24px;
            border-bottom: 1px solid mat-color($black-palette, 50);
        }

        .primary {
            height: 24px;
            margin-bottom: 4px;
            background-color: $primary;
            animation: fading 1.5s infinite;
        }
        .secondary {
            height: 16px;
            background-color: mat-color($black-palette, 400);
            animation: fading 1.5s infinite;
        }
        .positive {
            height: 16px;
            background-color: mat-color($primary-palette, 400);
            animation: fading 1.5s infinite;
        }
        .negative {
            height: 16px;
            background-color: mat-color($warn-palette, 400);
            animation: fading 1.5s infinite;
        }
        .inverted {
            height: 16px;
            background-color: $background;
            animation: fading 1.5s infinite;
        }
    }

    @keyframes fading {
        0% { opacity: .1; }
        50% { opacity: .2; }
        100% { opacity: .1; }
    }
}
.warn {
    color: $warn;
}
.primary {
    color: $primary;
}
.full-width-button {
    display: block;
    text-align: center;
}
.hscrollable {
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 8px;
}
.is-submitting {
    transition: opacity 0.1s ease-in-out;
    opacity: 0.3;
}