@import "scss/_colors";

@include mat-core();
$my-app-theme: mat-light-theme(
    $primary-palette,
    $accent-palette,
    $warn-palette
);
@include angular-material-theme($my-app-theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    background: $background;
}
* {
    box-sizing: border-box;
}


.vertical-form {
    mat-form-field {
        width: 100%;
    }
}