<es-header>
    <ng-container heading>Nowy wydatek</ng-container>

    <ng-container left>
        <a [routerLink]="['/trips', uid]">
            Anuluj
        </a>
    </ng-container>

    <ng-container right>
        <a role="button" type="button" (click)="createForm.ngSubmit.emit()">
            Zapisz
        </a>
    </ng-container>
</es-header>

<div class="container">
    <form
        [formGroup]="formGroup"
        (ngSubmit)="OnSubmit()"
        class="vertical-form"
        #createForm="ngForm"
    >
        <section>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Nazwa wydatku"
                    formControlName="name"
                    required
                />
                <mat-error *ngIf="name.invalid && name.errors.required">
                    Nazwa jest wymagana
                </mat-error>
                <mat-error *ngIf="name.invalid && name.errors.minlength">
                    Za krótka nazwa, dopisz jeszcze
                    {{
                        name.errors.minlength.requiredLength -
                            name.errors.minlength.actualLength
                    }}
                    znaków
                </mat-error>
                <mat-error *ngIf="name.invalid && name.errors.maxlength">
                    Za długi nazwa, usuń jeszcze
                    {{
                        name.errors.maxlength.actualLength -
                            name.errors.maxlength.requiredLength
                    }}
                    znaków
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Typ</mat-label>
                <select matNativeControl required formControlName="type">
                    <option
                        *ngFor="let enum of ExpenseTypeEnum | enumToArray"
                        [value]="enum"
                        required
                    >
                        <es-expense-type [type]="enum"></es-expense-type>
                    </option>
                </select>
                <mat-error *ngIf="type.invalid && type.errors.required">
                    Typ jest wymagany
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input
                    matInput
                    [matDatepicker]="picker"
                    placeholder="Data"
                    formControlName="paidAt"
                    required
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="paidAt.invalid && paidAt.errors.required">
                    Data jest wymagana
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input
                    type="text"
                    placeholder="Zapłacone przez"
                    matInput
                    formControlName="payer"
                    [matAutocomplete]="auto"
                    required
                />
                <mat-autocomplete
                    #auto="matAutocomplete"
                    [displayWith]="DisplayParticipant"
                >
                    <mat-option
                        *ngFor="let participant of filteredParticipants | async"
                        [value]="participant"
                    >
                        {{ participant.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </section>

        <caption>
            Pozycje na rachunku
        </caption>
        <section>
            <div
                formArrayName="parts"
                *ngFor="let part of parts.controls; let i = index"
            >
                <div [formGroupName]="i">
                    <div class="part-field">
                        <mat-form-field>
                            <input
                                type="number"
                                placeholder="Pozycja {{ i + 1 }}"
                                matInput
                                formControlName="value"
                                required
                            />
                        </mat-form-field>
                        <div class="actions">
                            <mat-icon (click)="removePart(i)">close</mat-icon>
                        </div>
                    </div>
                    <div class="participants">
                        <label
                            formArrayName="participants"
                            *ngFor="
                                let order of GetParticipants(part).controls;
                                let j = index
                            "
                        >
                            <mat-checkbox
                                color="primary"
                                [formControlName]="j"
                            ></mat-checkbox>
                            {{ participants[j].name }}
                        </label>
                    </div>
                </div>
            </div>

            <a mat-button color="primary" (click)="AddPart()">
                Dodaj pozycje
            </a>
        </section>
    </form>
</div>
