<div class="login-wrapper">
    <mat-card>
        <mat-card-title i18n="@@appTitle">Rejestracja</mat-card-title>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field>
                    <input
                        type="text"
                        matInput
                        placeholder="Email"
                        formControlName="email"
                        i18n-placeholder="@@email"
                    />
                    <mat-error
                        *ngIf="this.form.controls['email'].hasError('required')"
                        i18n="@@enterEmail"
                    >
                        Wprowadź email
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input
                        type="password"
                        matInput
                        placeholder="Hasło"
                        formControlName="password"
                        i18n-placeholder="@@password"
                    />
                    <mat-error
                        *ngIf="this.form.controls['password'].hasError('required')"
                        i18n="@@enterPassword"
                    >
                        Wprowadź hasło
                    </mat-error>
                </mat-form-field>
                <mat-error class="invalid-email-or-password">
                    <span *ngIf="invalidEmailOrPassword" i18n="@@invalidEmailOrPassword">Niepoprawny email lub hasło</span>
                </mat-error>

                <button type="submit" class="size-normal" mat-raised-button color="primary" i18n="@@login">
                    Zaloguj
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
