@import '~@angular/material/theming';

$md-primary: (
    50 : #ebe9f2,
    100 : #cdc9de,
    200 : #aba5c8,
    300 : #8981b1,
    400 : #7066a1,
    500 : #574b90,
    600 : #4f4488,
    700 : #463b7d,
    800 : #3c3373,
    900 : #2c2361,
    A100 : #afa4ff,
    A200 : #8271ff,
    A400 : #553eff,
    A700 : #3e25ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #f3ebf3,
    100 : #e2cde2,
    200 : #cfabce,
    300 : #bb89ba,
    400 : #ad70ac,
    500 : #9e579d,
    600 : #964f95,
    700 : #8c468b,
    800 : #823c81,
    900 : #702c6f,
    A100 : #ffb8fe,
    A200 : #ff85fd,
    A400 : #ff52fc,
    A700 : #ff38fc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-black: (
    50 : #e7e7e7,
    100 : #c3c3c3,
    200 : #9b9b9b,
    300 : #737373,
    400 : #555555,
    500 : #373737,
    600 : #313131,
    700 : #2a2a2a,
    800 : #232323,
    900 : #161616,
    A100 : #ef6f6f,
    A200 : #ea4141,
    A400 : #f80000,
    A700 : #df0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$primary-palette:   mat-palette($md-primary);
$accent-palette:    mat-palette($md-accent);
$black-palette:     mat-palette($md-black);

$primary:           mat-color($primary-palette);
$accent:            mat-color($accent-palette);
$black:             mat-color($black-palette);

$white:             #ffffff;
$positive: #20bf6b;
$negative: #d0021b;
$background: #F4F4F4;
$backgroundSecondary: #FCFCFC;