@import "src/scss/_mixins";

:host {
    @include is-animated-host;
}

.part {
    .value-field {
        display: flex;
        align-items: center;
    }
    .part-data {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .value-per-participant {
            margin-right: 16px;
            text-align: center;
            span {
                font-size: 13px;
            }
            .value {
                margin-top: 8px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
    .error-wrapper {
		height: 13px;
		margin: 4px 0 8px 0;
    }
}

.add-part-button {
    margin-top: 24px;
}
.my-participant {
    font-weight: 500;
}
