@import "src/scss/_colors";
@import "src/scss/_variables";

header {
    background: $primary;
    color: $white;
    position: relative;
    min-height: 32px;

    height: $headerHeight;

    .controls-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left, .right {
        padding: 0 8px;
        font-size: 14px;
        line-height: 32px;

        ::ng-deep a {
            text-decoration: none;
            color: $white;
        }
    }

    .heading {
        font-weight: 500;
        height: $headerHeight;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 14px;
        line-height: 16px;

        ::ng-deep .sub {
            font-weight: 300;
            font-size: 11px;
            line-height: 16px;
        }
    }
}