@import "src/scss/_mixins";

:host  {
	@include is-animated-host;
}
.part-field {
	display: flex;
	align-items: center;
}
.add-part-button {
	margin-top: 24px;
}
.my-participant {
	font-weight: 500;
}