<div class="container page-with-tabs">
    <section class="expenses">
        <div class="fetching-results list" *ngIf="!expenses">
            <div class="item-placeholder">
                <div class="details">
                    <div class="primary name"></div>
                    <div class="secondary description"></div>
                </div>
                <div class="summary">
                    <div class="secondary value"></div>
                    <div class="secondary date"></div>
                </div>
            </div>
            <div class="item-placeholder">
                <div class="details">
                    <div class="primary name"></div>
                    <div class="secondary description"></div>
                </div>
                <div class="summary">
                    <div class="secondary value"></div>
                    <div class="secondary date"></div>
                </div>
            </div>
        </div>

        <a
            class="expense"
            *ngFor="let expense of expenses"
            [routerLink]="['/trips', uid, 'expenses', expense.id]"
        >
            <div class="details">
                <div class="name">
                    {{ expense.name }}
                </div>
                <div class="paid-by">
                    Zapłacone przez
                    <strong>
                        <span *ngIf="expense.isPaidByMe">mnie</span>
                        <span *ngIf="!expense.isPaidByMe">{{
                            expense.payerName
                        }}</span>
                    </strong>
                </div>
            </div>
            <div class="summary">
                <div class="value">
                    {{ expense.value | currency:'PLN' }}
                </div>
                <div class="date">
                    {{ expense.paidAt | date }}
                </div>
            </div>
        </a>
    </section>
    <div class="no-results" *ngIf="expenses && expenses.length === 0">
        <div class="call-to-action-text">
            Na razie nie masz dodanych żadnych wydatków. Kliknij na <b>+</b> aby je dodać
        </div>
    </div>
</div>

<es-settlement-footer
    [uid]="uid"
    [myCost]="100"
    [totalCost]="1852.06"
></es-settlement-footer>
