<div class="container page-with-tabs">
    <section class="expenses">
        <div class="fetching-results list" *ngIf="!expenses">
            <div class="item-placeholder">
                <div class="details">
                    <div class="primary name" style="width: 130px;"></div>
                    <div class="secondary description" style="width: 200px;"></div>
                </div>
                <div class="summary">
                    <div class="secondary value" style="width: 80px;"></div>
                    <div class="secondary date" style="width: 70px;"></div>
                </div>
            </div>
            <div class="item-placeholder">
                <div class="details">
                    <div class="primary name" style="width: 120px;"></div>
                    <div class="secondary description" style="width: 150px;"></div>
                </div>
                <div class="summary">
                    <div class="secondary value" style="width: 50px;"></div>
                    <div class="secondary date" style="width: 74px;"></div>
                </div>
            </div>
        </div>

        <a
            class="expense"
            *ngFor="let expense of expenses"
            [class.last-edited]="lastUpdatedExpenseId && lastUpdatedExpenseId === expense.id"
            [routerLink]="['/trips', uid, 'expenses', expense.id]"
        >
            <div class="content">
                <div class="details">
                    <div class="name" [class.is-transfer]="expense.type === ExpenseTypeEnum.Transfer">
                        {{ expense.name }}
                    </div>
                    <div class="paid-by">
                        Zapłacone przez
                        <strong>
                            <span *ngIf="expense.isPaidByMe">mnie</span>
                            <span *ngIf="!expense.isPaidByMe">{{
                                expense.payerName
                            }}</span>
                        </strong>
                    </div>
                </div>
                <div class="summary">
                    <div class="value">
                        {{ expense.value | currency:'PLN' }}
                    </div>
                    <div class="date">
                        {{ expense.paidAt | date }}
                    </div>
                </div>
            </div>

            <div class="detailed-calculations">
                Wpływ na mój bilans: 
                <span *ngIf="expense.isPaidByMe">
                    ({{ expense.value | currency:'PLN' }} - {{ expense.iSpent | currency:'PLN' }})
                    <span [class.positive]="expense.value - expense.iSpent > 0">
                        +{{ expense.value - expense.iSpent | currency:'PLN' }}
                    </span>
                </span>
                <span *ngIf="!expense.isPaidByMe" [class.negative]="expense.iSpent > 0">
                    -{{ expense.iSpent | currency:'PLN' }}
                </span>
                
            </div>
        </a>
    </section>
    <div class="no-results" *ngIf="expenses && expenses.length === 0">
        <div class="call-to-action-text">
            Na razie nie masz dodanych żadnych wydatków. Kliknij na <b>+</b> aby je dodać
        </div>
    </div>
</div>

<es-settlement-footer [uid]="uid"></es-settlement-footer>
