<div class="container page-with-tabs">
    <section class="expenses">
        <div class="fetching-results list" *ngIf="!expenses">
            <div class="item-placeholder">
                <div class="details">
                    <div class="primary name" style="width: 130px;"></div>
                    <div class="secondary description" style="width: 200px;"></div>
                </div>
                <div class="summary">
                    <div class="secondary value" style="width: 80px;"></div>
                    <div class="secondary date" style="width: 70px;"></div>
                </div>
            </div>
            <div class="item-placeholder">
                <div class="details">
                    <div class="primary name" style="width: 120px;"></div>
                    <div class="secondary description" style="width: 150px;"></div>
                </div>
                <div class="summary">
                    <div class="secondary value" style="width: 50px;"></div>
                    <div class="secondary date" style="width: 74px;"></div>
                </div>
            </div>
        </div>

        <a
            class="expense"
            *ngFor="let expense of expenses"
            [class.last-edited]="lastUpdatedExpenseId && lastUpdatedExpenseId === expense.id"
            [routerLink]="['/trips', uid, 'expenses', expense.id]"
        >
            <div class="content">
                <div class="details">
                    <div class="name" [class.is-transfer]="expense.type === ExpenseTypeEnum.Transfer">
                        {{ expense.name }}
                    </div>
                    <div class="paid-by">
                        <span *ngIf="expense.type === ExpenseTypeEnum.Expense">Zapłacone przez </span>
                        <span *ngIf="expense.type === ExpenseTypeEnum.Income">Otrzymane przez </span>
                        <span *ngIf="expense.type === ExpenseTypeEnum.Transfer">Przelane przez </span>

                        <strong>
                            <span *ngIf="expense.isPaidByMe">mnie</span>
                            <span *ngIf="!expense.isPaidByMe">{{
                                expense.payerName
                            }}</span>
                        </strong>
                    </div>
                </div>
                <div class="summary">
                    <div class="value">
                        <span *ngIf="expense.type !== ExpenseTypeEnum.Income">
                            {{ expense.value | currency:'PLN' }}
                        </span>
                        <span *ngIf="expense.type === ExpenseTypeEnum.Income">
                            {{ -expense.value | currency:'PLN' }}
                        </span>
                    </div>
                    <div class="date">
                        {{ expense.paidAt | date }}
                    </div>
                </div>
            </div>

            <div class="detailed-calculations" *ngIf="detailedCalculations">
                Wpływ na mój bilans: 

                <ng-container *ngIf="expense.type === ExpenseTypeEnum.Expense || expense.type === ExpenseTypeEnum.Transfer">
                    <span *ngIf="expense.isPaidByMe">
                        ({{ expense.value | currency:'PLN' }} - {{ expense.iSpent | currency:'PLN' }})
                        <span [class.positive]="expense.value - expense.iSpent > 0">
                            {{ expense.value - expense.iSpent | currency:'PLN' }}
                        </span>
                    </span>
                    <span *ngIf="!expense.isPaidByMe" [class.negative]="expense.iSpent > 0">
                        {{ -expense.iSpent | currency:'PLN' }}
                    </span>
                </ng-container>
                
                <ng-container *ngIf="expense.type === ExpenseTypeEnum.Income">
                    <span *ngIf="expense.isPaidByMe">
                        ({{ -expense.value | currency:'PLN' }} + {{ expense.iSpent | currency:'PLN' }})
                        <span [class.negative]="-expense.value + expense.iSpent < 0">
                            {{ -expense.value + expense.iSpent | currency:'PLN' }}
                        </span>
                    </span>
                    <span *ngIf="!expense.isPaidByMe" [class.positive]="expense.iSpent > 0">
                        {{ expense.iSpent | currency:'PLN' }}
                    </span>
                </ng-container>
            </div>
        </a>
    </section>
    <div class="no-results" *ngIf="expenses && expenses.length === 0">
        <div class="call-to-action-text">
            Na razie nie masz dodanych żadnych wydatków. Kliknij na + aby je dodać
        </div>
    </div>
</div>

<es-summary-expense-list-footer [uid]="uid"></es-summary-expense-list-footer>
