<es-header>
    <ng-container left>
        <button mat-icon-button [routerLink]="['/trips', uid, 'summary']">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
    </ng-container>

    <ng-container right>
        <a
            role="button"
            type="button"
            [routerLink]="['/trips', uid, 'expenses', id, 'edit']"
        >
            Edytuj
        </a>
    </ng-container>
</es-header>

<div class="container">
    <section class="details" [class.sticky]="stickyHeader">
        <div class="fetching-results details-placeholder" *ngIf="!expense">
            <div class="inverted name" style="width: 120px;"></div>
            <div class="inverted value" style="width: 70px;"></div>
            <div class="info">
                <div class="inverted paid-by" style="width: 90px;"></div>
                <div class="inverted paid-at" style="width: 70px;"></div>
            </div>
        </div>

        <div class="details-container" *ngIf="expense">
            <div class="name">{{ expense.name }}</div>
            <div class="value">{{ value | currency: "PLN" }}</div>
            <div class="info">
                <div class="paid-by">
                    <span *ngIf="expense.type === ExpenseTypeEnum.Expense">Zapłacił(a) </span>
                    <span *ngIf="expense.type === ExpenseTypeEnum.Income">Otrzymał(a) </span>
                    <span *ngIf="expense.type === ExpenseTypeEnum.Transfer">Przelał(a) </span>

                    {{ payerNick }}
                    <span *ngIf="isClaimedParticipant(expense.payerId)">(Ja)</span>
                </div>
                <div class="paid-at">{{ expense.paidAt | date }}</div>
            </div>
        </div>
    </section>

    <caption>
        W sumie
    </caption>
    <section class="summary">
        <div class="fetching-results summary-placeholders" *ngIf="!summary">
            <div class="item-placeholder">
                <div class="secondary first" style="width: 80px;"></div>
                <div class="secondary second" style="width: 45px;"></div>
            </div>
            <div class="item-placeholder">
                <div class="secondary first" style="width: 80px;"></div>
                <div class="secondary second" style="width: 45px;"></div>
            </div>
            <div class="item-placeholder">
                <div class="secondary first" style="width: 80px;"></div>
                <div class="secondary second" style="width: 45px;"></div>
            </div>
        </div>

        <ng-container *ngIf="summary">
            <div
                *ngFor="let sum of summary"
                class="summary-row"
                [class.my-summary]="isClaimedParticipant(sum.id)"
            >
                <div class="nick">
                    {{ sum.nick }}
                    <span *ngIf="isClaimedParticipant(sum.id)">
                        (Ja)
                    </span>
                </div>
                <div class="value">
                    <ng-container *ngIf="sum.value !== 0; else noValue">
                        {{ sum.value | currency:'PLN' }}
                    </ng-container>
                    <ng-template #noValue>&mdash;</ng-template>
                </div>
            </div>
        </ng-container>
    </section>

    <caption *ngIf="expense && expense.parts">
        Pozycje na rachunku
    </caption>
    <section class="parts" *ngIf="expense && expense.parts">

        <div class="hscrollable">
            <table class="table table-header-rotated">
                <thead>
                    <tr>
                        <th></th>
                        <th
                            class="rotate"
                            *ngFor="let participant of participants"
                            [class.my-header]="isClaimedParticipant(participant.id)"
                        >
                            <div>
                                <span>{{ participant.nick }}
                                    <span *ngIf="isClaimedParticipant(participant.id)">(Ja)</span>
                                </span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let part of expense.parts">
                        <th class="row-header">
                            {{ part.value | currency: "PLN" }}
                        </th>
                        <td *ngFor="let participant of participants">
                            <div class="content">
                                <mat-icon *ngIf="isParticipantInvolvedInPart(participant, part)">check</mat-icon>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </section>
</div>
